<div class="container box">
  <div style="padding:30px;width:500px">

  <h3 class="header-box">Contact us:</h3>
  <h4>Nickajack Marina and Resorts</h4>
  <p>Nickajack Lake, Tennessee</p>


  </div>

</div>