<div class="container">
  <h2 class="header-box" style="width:630px">Welcome to Nickajack Marina and Resort</h2>
  <div style="height:50px">
  </div>
  <div class="box" style="width:500px; font-size:11pt; margin-left:0px">
    Nickajack is a fictional marina and resort on the Tennessee River.<br>
    Book cabins or boat rentals through this demo reservation system.<br>
    To preview an Admin demo (in development), click <a href="http://resort-reservation.herokuapp.com/admin">here</a>.
  </div>
  
  <div class="row">
    <div class="col-md-3 box">
      <h4 class="header-box">Cabin Rentals</h4>
      <center><%= link_to image_tag("3bdrmlandcabin.jpg", width: "200"), "/cabin/intro"  %></center><br>
      <div style="font-size:10pt">
        Nickajack Resort cabin rentals are a comfortable and welcoming home-away-from-home. 
        Rent land cabins or one of our unique floating cabins to extend your stay.
      </div>
    </div>
    
    <div class="col-md-3 box" style="margin-left:30px">
      <h4 class="header-box">Boat Rentals</h4>
      <center><%= link_to image_tag("boatrentals.jpg", width: "200"), "/boat/intro"  %></center><br>
      <div style="font-size:10pt">
        Enhance your stay with Nickajack Marina boat rentals. 
        Rent a deck boat and waterski or relax on our single or double decker pontoon boats.
      </div> 
    </div>
  </div>

</div>


