    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron")>
      <div class="container">
        <h2>Welcome to Nickajack Marina and Resort</h2>
        <p>This is a test site. Please use navigation buttons above to reserve cabins or boats.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Explore &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Cabins</h2>
          <p>Cabin descriptions here... </p>
          <p><a class="btn btn-default" href="/cabin/intro" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Boat Rentals</h2>
          <p>Boat descriptions here... </p>
          <p><a class="btn btn-default" href="/boat/intro" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Boat Slips</h2>
          <p>Boat slip descriptions here...</p>
          <p><a class="btn btn-default" href="/boat_slip/intro" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- row -->

    </div> <!-- /container -->

