<!-- Requires instance vars: -->
<!-- @reservation_category -->
<!-- @reservation_subcategory -->
<!-- @reservation_item (initialized) in order to use validations -->
<!-- Post params: -->
<!-- "reservation_category" -->
<!-- "reservation_subcategory" -->
<!-- start_date, end_date, adults, children, pets -->

<div class="container">
<%= form_tag "/#{@reservation_category}/intro" do %>

  <%= render partial: "search_reservation", locals: {reservation_category: @reservation_category, reservation_item: @reservation_item} %>
    
  <%= render partial: "rental_type_intro", locals: {category: @reservation_category} %>
  
<% end %>
</div> <!-- main container -->