<%= form_tag "/customer/#{@customer.id}/update" do %>


<div class="container">
  <div class="admin-box" style="width:850px">


    <h3 style="text-align:center">Edit Customer</h3>
    
    
    <%= render partial: "customer_form" %>

    <p><%= submit_tag "Update", class:"btn go-button" %></p>
    
  
  </div>
</div>

<% end %>
