<div class="container admin-box">


<h1>Nickajack Marina & Resort Management</h1>
<p>
  <a href="/admin/customers">Manage Customers</a>
</p>
<p>
  <a href="/admin/reservations">Manage Reservations</a>
  </p>
<p>
  <a href="/admin/rentaltypes">Manage Cabin Rentals</a>
</p>

</div>