<div class="container admin-box" style="width:500px;height:500px; margin:100px auto 100px auto;">

<h3 style="text-align:center">Nickajack Marina & Resort<br>Management System</h3>
<br><br>
<div style="padding-left:100px">
  <h4><a href="/admin/customers">Manage Customers</a></h4><br>
  <h4><a href="/admin/reservations">Manage Reservations</a></h4><br>
  <h4><a href="/admin/Cabin">Manage Cabins</a></h4><br>
  <h4><a href="/admin/Boat">Manage Boats</a></h4>
</div>

</div>