<div class="container admin-box" width="600px">


<h1>Nickajack Marina & Resort Management</h1>
<p>
  <a href="/admin/customers">Manage Customers</a>
</p>
<p>
  <a href="/admin/reservations">Manage Reservations</a>
  </p>
<p>
  <a href="/admin/Cabin">Manage Cabin Rentals</a>
</p>
<p>
  <a href="/admin/Boat">Manage Boat Rentals</a>
</p>
</div>