<%= form_tag "/customer/create" do %>

<div class="container">
  <div class="admin-box" style="width:850px">
  
    <h3 style="text-align:center">Add New Customer</h3>


    <%= render partial: "customer_form" %>
    
    <%= submit_tag "Create Customer" %>


  </div>
</div>

<% end %>
