html {
  background-color: #eee;
}
body {

/* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  padding-bottom: 20px;

/*  width: 760px;
  margin: 20px auto;
  background-color: white;
  border: 3px #ccc solid;
  padding: 30px;
  font-family: sans-serif;
  font-size: 16pt; */
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(/images/nickajacklake.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
} 


